@for(player of game.players; track $index){
  <app-player [ngStyle]="{'top.px': 100 + $index * 120 }" [name]="player" class="player-position" />
}

<div class="field">
  <div class="card-stack">
    @for(card of [0,1,2,3]; track $index) {
    <img
      [ngStyle]="{ 'right.px': $index * 5 }"
      src="assets/img/cards/card_cover.png"
      alt=""
    />
    }

    <img
      (click)="takeCard()"
      class="top-card"
      style="right: 25px"
      src="assets/img/cards/card_cover.png"
      alt=""
    />

    @for(card of game.playedCards; track $index) {
      <img 
        src="assets/img/cards/{{ card }}.png"
        class="played-card"
      />
    }

    @if(pickCardAnimation) {
      <img
        class="pick-card"
        style="right: 25px"
        src="assets/img/cards/{{ currentCard }}.png"
        alt=""
      />
    }
  </div>
</div>

<button mat-fab class="btn-add">
  <mat-icon>add</mat-icon>
</button>
